.App {
  text-align: center;
}

.App-header {
  background-color: rgb(8, 8, 8);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.timer-output {
  font-size: 264px;
  font-weight: 600;
}

.timer-controller {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 32px;
  cursor: pointer;
  border-style: none;
  border: 4px solid #fff;

  background: transparent;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
}